<!doctype html>
<html lang="en" ng-app="toDoApp">
<head>
  <meta charset="utf-8">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/ToDoController.js"></script>
  <script src="js/factories/ToDoFactory.js"></script>
  <script src="js/services/ToDoService.js"></script>
  <title>Todos App</title>
</head>
<body>
  <div id="todos" ng-controller="ToDoController as controller">
    <p ng-repeat="todo in controller.todos">
      {{ todo.text  }}: {{ todo.completed ? "completed" : "not
      completed"  }}
      
      <button class="complete" ng-click="todo.complete();">Complete</button>
    </p>
    <input id="new-todo-name" type="text" ng-model="todoText">
    <button id="add-todo" ng-click="controller.addToDo(todoText);">Add a
      ToDo</button>
      <button id="remove-todo" ng-click="controller.removeToDo();">Remove last ToDo</button>
    </div>
  </body>
  </html>
